<h1>Create a New Trail:</h1>

<form action="/trails" method="POST">
  <label for="name">Trail Name: <input type="text" name="name" id="name"><br>
  <label for="location">Location: <input type="text" name="location" id="location"><br>
  <label for="distance">Distance: <input type="float" name="distance" id="distance"><br>
  <label for="notes">Notes: <input type="text" name="notes" id="notes"><br>
  <br></br>

  <input type="submit" value="Submit">

</form>
