
<a href="/">Home</a><br>
<a href="/trails">All Trails</a><br>
<a href="/logout">Log Out</a>

<center><h2>Create a New Trail:</h2>
<br></br>

<form action="/trails" method="POST">
  <label for="name">Trail Name: <input type="text" name="name" id="name">
    <br></br>
  <label for="location">Location: <input type="text" name="location" id="location">
    <br></br>
  <label for="distance">Distance (mi): <input type="float" name="distance" id="distance">
    <br></br>
  <label for="date">Date Completed: <input type="date" name="date" id="date">
    <br></br>
  <label for="notes">Notes: <input type="text" name="notes" id="notes">
  <br></br>
  <br></br>
  <input type="submit" value="Create">
  <br></br>

</form>
</center>
