<!DOCTYPE html>
 <html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Trail-Tracker: a trail-running journal</title>
  </head>

  <body>
    <center><h1>Welcome to Trail-Tracker, your trail-running journal</h1>
      <h3>Log your trails and get inspired to explore new trails!</h3>

  </body>
