<!DOCTYPE html>
 <html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Trail-Tracker: a trail-running journal</title>
  </head>

  <body>
    <br></br>

        <center><h2>Trail-Tracker: your trail-running journal</h2>
          <p>Log your trails and get inspired to explore new ones!</p>


      <br></br>
      <br></br>

      <p><a href="/login">Log In</a> or <a href="/signup">Sign Up</a></p></p>



      </center>
  </body>
