
<br></br>
<h2>Log In</h2>

<form action="/login" method="post">
  <div class="form_group">
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="required" required>
  </div><br>
  <div class="form_group">
    <label for="password">Password: </label>
      <input type="password" name="password" placeholder="required" required>
  </div><br>
  <input type="submit" name="submit" value="Submit">

</form>

<br></br>
<br></br>
<p>New to Trail-Tracker? <a href="/signup">Sign up now</a></p>
