<h2>Sign Up</h2>

<form action="/signup" method="POST">
  <div class="form_group">
    <label for="username">Username:</label>
      <input type="text" name="username" placeholder="required" required>
  </div><br>
  <div class="form_group">
    <label for="email">Email:</label>
      <input type="email" name="email" placeholder="required" required>
  </div><br>
  <div class="form_group">
    <label for="password">Password:</label>
      <input type="text" name "password" placeholder="required" required>
    <br></br>
    <input type="submit" name="submit" value="Sign Up">
  </div>
</form>
