<br></br>
<h2>Create your account</h2>

<form action="/signup" method="POST">
  <div class="form_group">
    <label for="username">Username:</label>
      <input type="text" name="username" placeholder="required" required>
  </div><br>
  <div class="form_group">
    <label for="email">Email:</label>
      <input type="email" name="email" placeholder="required" required>
  </div><br>
  <div class="form_group">
    <label for="password">Password:</label>
      <input type="password" name="password" placeholder="required" required>
    <br></br>
    <input type="submit" name="submit" value="Sign up">
  </div>
</form>
<br></br>
<br></br>
